{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{%  block title %}Reset Password{% endblock %}

{% block container %}
    <div class="container login">

      <div class="row" id="pwd-container">
        <div class="col-md-4"></div>

        <div class="col-md-4">
          <section class="login-form">
            <form method="post" action="#" role="login">
              {% include 'logo.html' %}

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text" class="form-control input-lg" placeholder="Username">
                </div>

              <button type="submit" name="submit" class="btn btn-lg btn-primary btn-block">Reset</button>

            </form>

            <div class="form-links">
              <a href="#">www.iamjames.ie</a>
            </div>
          </section>
          </div>

          <div class="col-md-4"></div>


      </div>


    </div>
{% endblock %}